
    .navcentering{
        justify-content: space-around;
        text-align: center;
        font-size: 18px;
        padding: 8px;
        margin-bottom: 50px;
        color:#865439; 
                  }
      .navcentering a:hover {
        background-color: #ffcb9a;
                  }
